.event-header {
  display: flex;
  flex-direction: column;

  .event-name {
    font-size: 1.2em;
    font-weight: 700;
  }
}

ul.pagination {
  margin: 0px;
}

.unlink {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default !important;
  user-select: none;
}

.card-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.event-top-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
}
