@import '../../colors';

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar .btn {
  align-items: center; 
  background-color: $white-smoke;
  border-color: $white-smoke;
  color: $blue-darker;
  display: inline-flex;
  font-weight: 700;

  &.toggler-round {
    border-radius: 3em;
  }
}
