@import '../colors';

html,
body {
  background-color: $gray-light;
  height: 100vh;
}

#root {
  height: 100vh;
}

.app-container {
  height: 100vh;
  margin-top: 10px;
}

.full-height {
  height: 100vh;
  text-align: center;
}

a {
  color: $blue-darker;

  &:hover {
    color: $red-darker;
  }
}