html,
body {
  background-color: #F8F8F8;
  height: 100vh;
}

#root {
  height: 100vh;
}

.app-container {
  height: 100vh;
  margin-top: 10px;
}

.full-height {
  height: 100vh;
  text-align: center;
}

a {
  color: #233366;

  &:hover {
    color: #a42327;
  }
}