@import "../../colors";

.navbar {
  background-color: $blue-darker;
  box-shadow: 0px 1px 10px $gray;
  color: $white;
  font-weight: 700;

  a,
  a:active,
  a:hover {
    color: $white;
    text-decoration: none;
  }

  .store-log {
    border-radius: 30px;
    font-size: 0.8em;
    line-height: 1;
    margin-left: 5px;
    right: 20px;
    text-align: center;
    top: 10px;
  }
}
