@import "../../colors";

.switch {
  display: inline-block;
  height: 34px;
  margin-bottom: 0px;
  position: relative;
  width: 60px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  -webkit-transition: 0.4s;
  background-color: $gray-light;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  -webkit-transition: 0.4s;
  background-color: $white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn.toggler,
.btn.toggler-round {
  align-items: center;
  background-color: $white-smoke;
  border-color: $white-smoke;
  color: $blue-darker;
  display: inline-flex;
  font-weight: 700;
}

.btn.toggler-round {
  border-radius: 3em;
}

input:checked + .slider {
  background-color: $red;
}

input:focus + .slider {
  box-shadow: 0 0 1px $red;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
