@import '../../colors';

.table.live-events {
  background-color: $blue-darker;
  color: $white;
  margin-bottom: 0;

  tr.row-live-event {
    cursor: pointer;

    th,
    td:nth-child(2),
    td:nth-child(3) {
      text-align: center;
    }

    th {
      cursor: default;
    }
  }

  tbody {
    tr.row-live-event td:nth-child(2) {
      background-color: $green;
    }

    tr.row-live-event:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

@keyframes blinking {
  0%{
    background-color: $white;
    border: 5px solid $white;
  }
  50%{
    background-color: $yellow;
    border: 5px solid $yellow;
  }
  100%{
    background-color: $white;
    border: 5px solid $white;
  }
}

.live-footbal-tag {
  animation: blinking 2s infinite;
  float: left;
  position: absolute;
  top: 10px;
}
