@import '../../colors';

h5 {
  margin-top: 0.5em;
}

.table.liveEvents {
  background-color: $blue-darker;
  color: $white;
  margin-bottom: 0;

  tbody {
    cursor: pointer;

    tr:hover {
      background-color: $blue;
      color: $white;
    }
  }
}
