$blue-darker: #233366;
$blue: #294376;
$green: #008000;
$red-darker: #A42327;
$red: #C54845;
$white-smoke: #F5F5F5;
$white: #FFFFFF;
$gray-light: #CCCCCC;
$gray-very-light: #f8f9fa;
$gray: #999999;
$yellow: #FFFF00;
$black: #000000;